# Archivos de entorno virtual
venv/
env/
migrations/

# Archivos de caché y temporales
__pycache__/
*.pyc
*.pyo

# Archivos de bases de datos
*.db
*.sqlite3

# Archivos de logs
logs/
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno de desarrollo
.vscode/
.idea/