body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: #333;
  line-height: 1.6;
}

.loginContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.loginContainer h1 {
  color: white;
  background-color: #e5b3fe;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px; 
}

.loginContainer form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.loginContainer input {
  padding: 10px;
  font-size: 16px;
  background-color: white;
  border: 2px solid #e5b3fe;
  border-radius: 5px;
  margin-top: 10px;
  color : black;
}

.btnLogin {
  padding: 10px;
  font-size: 16px;
  background-color: #e5b3fe;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btnLogin:hover {
  background-color: white;
  color: #e5b3fe;
  border: 2px solid #e5b3fe;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}

.linkRegister {
  color: #e5b3fe;
  text-align: center;
  margin-top: 10px;
}

.linkRegister:hover {
  text-decoration: underline;
  color: #e5b3fe;
}