.registerContainer {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  height: 100vh;  
}

.titleRegister {
  width: 100%;
  color: #ffffff;
  background-color: #7a409c;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
  max-width: 285px;
}

.registerContainer form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
}

.inputRegister {
  width: 93%;
  padding: 10px;
  font-size: 16px;
  background-color: #ffffff;
  border: 2px solid #b374e0;
  border-radius: 5px;
  margin-top: 10px;
  color : black;
}

.btnRegister {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #b374e0;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btnRegister:hover {
  background-color: #ffffff;
  color: #b374e0;
  border: 2px solid #b374e0;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}