.results {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.titleResults {
  color: #282c34;
  font-size: 2rem;
  padding-top: 150px;
  background-color: red;
}

.results p {
  font-size: 1rem;
  line-height: 1.5;
}

.pPrueba {
  color: red;
}

.results p.error {
  color: red;
}

.results p.loading {
  font-style: italic;
}