.videoScanning {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.titleDiagnostic {
  margin: 10px;
  background-color: #7a409c;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.countdown {
  margin: 10px;
  background-color: #ffde85;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.videoContainer {
  position: relative;
  margin-bottom: 100px;
}

.mainVideo {
  width: 375px;
  border: 3px solid #7a409c;
}

.webcamContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webcamFeed {
  width: 275px;
  border: 3px solid #7a409c;
}

.overlay {
  position: absolute;
  top: 10px;
  left: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.recordingIndicator {
  color: #7a409c;
  font-size: 25px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.recordingTime {
  background: #7a409c;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.pauseButton,
.resumeButton {
  padding: 10px 20px;
  background-color: #fbb1b1;
  color: white;
  border: 2px solid #fbb1b1;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.pauseButton:hover,
.resumeButton:hover {
  background-color: white;
  color: #fbb1b1;
  border: 2px solid #fbb1b1;
}

.stopButton {
  padding: 10px 20px;
  background-color: #a2d5a3;
  color: white;
  border: 2px solid #a2d5a3;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.stopButton:hover {
  background-color: white;
  color: #a2d5a3;
  border: 2px solid #a2d5a3;
}